/*
=================================================================
					Website notefox (2016) 
					Author: Neriman Kocak & Harun Dalici 
                    Package: client.gui & war
=================================================================
*/
/*
=================================================================
						 Initialising
=================================================================
*/
* {
	padding: 0vw;
	margin: 0vw;
	border: 0vw;
}

html {
	overflow-y: scroll;
}

body {
	font-size: 1.5vw;
	background-color: #008cc6;
}

#clearright {
	clear: right;
}

#clearleft {
	clear: left;
}

#clear {
	clear: both;
}

#wrapper {
	margin: 1vw auto;
	width: 95vw;
}

#head {
	border-radius: 0.5vw;
	background-color: #FFFFFF;
	height: 3vw;
	width: 72vw;
	margin-bottom: 1vw;
}

#nav {
	border-radius: 0.5vw;
	background-color: #FFFFFF;
	height: 9vw;
	width: 72vw;
}

#logobox {
	border-radius: 0.5vw;
	max-height: 13vw;
	width: 22vw;
	background-color: #FFFFFF;
	float: right;
}

.logo {
	margin: 0.5vw;
	max-width: 21vw;
	max-height: 13vw;
}

#leftmenu {
	border-radius: 0.5vw;
	background-color: #FFFFFF;
	width: 17vw;
	min-height: 50vw;
	float: left;
	margin-top: 1vw;
	padding-left: 2vw;
	padding-top: 1vw;
	border: 0;
}

#text {
	border-radius: 0.5vw;
	background-color: #FFFFFF;
	width: 75vw;
	min-height: 51vw;
	float: left;
	margin-top: 1vw;
	margin-left: 1vw;
}

#rightmenu {
	border-radius: 0.5vw;
	background-color: #FFFFFF;
	width: 22vw;
	min-height: 50vw;
	float: right;
	margin-top: 1vw;
}

#footer {
	border-radius: 0.5vw;
	background-color: #FFFFFF;
	min-height: 3vw;
	max-width: 95vw;
	top: 40vw;
	margin: 1vw 0;
	padding: 0.5vw;
}

}
h5 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.gwt-Green-Button {
	color: #008cc6;
	margin: 0;
	width: 10.2vw;
	height: 2.5vw;
	position: inherit;
	font-size: 1vw;
	border-radius: 0.9vw;
}

.gwt-Blue-Button {
	color: blue;
}

.gwt-Main-Button {
	color: green;
	margin: 0;
	width: 10.2vw;
	height: 2.5vw;
	position: inherit;
	font-size: 1vw;
	border-radius: 0.9vw;
}

.gwt-Button {
	color: red;
}

.gwt-Green-Button {
	color: #008cc6;
	margin: 0;
	margin-bottom: 1vw;
	margin-left: 1vw;
	margin-top: 1vw;
	width: 10.2vw;
	height: 2.5vw;
	position: inherit;
	font-size: 1vw;
	border-radius: 0.9vw;
}

.gwt-Green-Button-big {
	color: #008cc6;
	margin: 0;
	margin-bottom: 1vw;
	margin-right: 1vw;
	margin-top: 1vw;
	width: 10.2vw;
	height: 5vw;
	position: inherit;
	font-size: 1vw;
	border-radius: 0.9vw;
}

.textarea {
	border-style: outset;
	width: 65vw;
	height: 31vw;
	border-width: 0.5vw;
	border-color: #008cc6;
}

.gwt-RadioButton {
	margin: 10px;
	font-size: 1vw;
}

.gwt-DialogBox-Notizquelle {
	margin-top: 25vw;
	margin-left: 15vw;
	width: 98vw;
	height: 200px;
}

.gwt-TextBox {
	margin-left: 10px;
}

.datePicker {
	width: 6vw;
	}

.TextBox-readonly {
	margin-top: 17px;
	width: 145px;
}

.vPanelRight {
	margin-left: 20px;
}

.footerButton {
	max-width: 20vw;
	max-height: auto;
	clear: both;
	float: left;
}

.footerHDM {
	margin-top: 1.5vw;
	max-width: 20vw;
	max-height: auto;
	clear: both;
	float: right;
}

.footerWi {
	max-width: 10vw;
	max-height: auto;
	clear: both;
	float: right;
	margin-left: 21.5vw;
	margin-right: 21.5vw;
}

.gwt-TextBox-Dialogbox {
	width: 950px;
	height: 25px;
}

.TopRightCloseButton {
	float: right;
	margin-top: -22px;
	width: 16px;
	height: 16px;
	display: block;
}

.Abmelden-Link {

	margin-left: 10px;
}

.Impressum-Link {
	margin-left: 10px;

}

.Startseite-Link {
	margin-left: 30vw;
}

.MeinProfil-Link {
	margin-left: 10px;
}


.rot{
	background-color: red;
}

.gelb{
	background-color: yellow;
}

.gruen{
	background-color: green;
}

.ampel{
	width: 50px;
	height: 50px;
}

.meinProfil-labels{
	margin-left: 10px;
	margin-top: 10px;
}