.Logo{
	float: right;
	width: 279;
    height: 400px;
    position:absolute;
	right: 0px;
	top:55px;
	border:0px;
   
  }
.Button{
	width: 300px;
	
}
#LandingText {
  
  font-size:15pt;  /* Größe 28pt   */
	
}